body {background-color: rgb(255, 242, 214);

}

table{
    border-collapse: collapse

  }
  
  td{
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(250, 243, 233);
    font-family: 'Times New Roman', Times, serif;
  }

  .tableau {display:flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    margin-top: 15%;
  }

  th {font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    text-align: center;
  }